.main-menu .nav li.active .book-btn a:before, .main-menu .nav .book-btn a:hover:before {
    width: 0px;
}

.main-menu .nav li.active .book-btn a, .main-menu .nav li .book-btn a:hover, .main-menu .nav li .book-btn a:focus {
    color: white;
}

.book-btn {
    width: 127px;
}

.testemonial .owl-carousel .owl-stage-outer {
    direction: ltr;
}

html[dir='rtl'] .form-control {
    padding: 6px 36px 0px 0px;
}

.campaign-timer {
    direction: ltr;
}

.single-trip-circle {
    margin: 0px 30px;
}

.single-trip-circle input[type="radio"]+label span.round-boarder {
    margin: 0px 6px;
}

.flights-txt {
    margin: 288px 0 0 0;
}

.flights-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../../img/frontend/user/home/banner.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 327px;
}

.about-view.flight-btn {
    width: 95%;
    margin: 15px;
}

.pad {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.top-pad{
    padding-top: 40px;
}

.pad-5{
    padding: 5px !important;
}

.box {
    margin: 20px;
    border: 2px solid #cfedf3;
    text-align: center;
    border-radius: 21px;
    padding: 10px;
    box-shadow: 5px 10px 15px #ccc;
    background: #f0f8f9;
}

.plane-icon {
    font-size: 30px;
    transform: rotate( 30deg);
    display: inline-block;
}

html[dir='rtl'] .plane-icon {
    transform: rotate( 232deg);
}

.line {
    border-bottom: 1px dotted black;
}

.book-flight {
    margin-top: 10px;
    letter-spacing: 1.2px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.book-flight .about-view.travel-btn {
    width: 99px;
    height: 40px;
}

.flight-box {
    font-size: 20px;
}

.pad-down {
    padding-bottom: 20px;
}

.form-seg {
    margin-bottom: 20px;
    font-size: 16px;
}

.border {
    border: 1px solid yellow;
}

.border-right {
    border-right: 1px solid;
    background-color: #f5fafb;
}

.def {
    text-align: center;
    padding: 10px;
    border: 1px solid;
    border-radius: 20px;
    margin-top: 10px;
}

.mar {
    margin-top: 30px;
}

.remove-icon {
    position: absolute;
    left: 45px;
    top: 19px;
    font-size: 25px;
    color: red;
    cursor: pointer;
}

.email-box {
    padding-left: 43px;
    padding-right: 43px;
    font-size: 16px;
    border-radius: 50px;
    border-color: rgb(238, 238, 238);
    margin-bottom: 14px;
    resize: none;
}

.travel-select-icon select, .travel-check-icon input {
    color: #00d8ff;
}

.travel-select-icon select, .travel-check-icon input {
    font-size: 16px;
}

html[dir='rtl'] .pad-right {
    padding-right: 156px;
}

@media screen and (max-width: 440px) {
    html[dir='rtl'] .pad-right {
        padding-right: 10px;
    }
    .single-package-item {
        max-width: none;
    }
    .filtr-item {
        max-width: none;
    }
}

@media screen and (max-width: 480px) {
    .single-package-item {
        max-width: none;
    }
    .filtr-item {
        max-width: none;
    }
}

.discount-offer:after, .subscribe:after {
    background: rgb(0 122 207 / 68%);
}

.ba_img {
    background-color: #d6e4e6;
    box-shadow: 2px 2px 40px #ccc;
}

.book-flight .about-view.travel-btn:hover {
    box-shadow: 0px 0px 10px #000;
}

.small {
    font-size: 10px;
}

.mar li {
    padding: 10px 0px;
}

.testemonial {
    background: #fff;
}

.packages {
    background: #f9f9f9;
}

.navbar-nav>li>.dropdown-menu {
    background: #4d4e54;
}

.single-package-item {
    border-radius: 10% 10%;
    overflow: hidden;
}

.single-package-item:hover {
    box-shadow: 0 0 20px #00d8ff;
}

.checked_go_flight {
    background: #1dd10d
}

.checked_return_flight {
    background: #1dd10d
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}
.f-active-return{
    background: #a9fdfd;
    cursor: pointer;
}
.f-active-go{
    background: #a9fdfd;
    cursor: pointer;
}
.hand{
 cursor: pointer;
}
.height-313{
    height: 313px;
}
.info-img {
    padding: 152px 0;
    background: url(../../img/frontend/user/home/info.jpg)no-repeat center fixed;
    background-size: contain;
    z-index: 1;
}
.main-menu .nav a:before{
    height: 0px;
}
.single-package-item img{
    height: 100%;
}
.img-container{
    height: 228px;
}
.p-10{
	padding:40px;
}